* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #3f3f3f;
    font-size: 62.5%;
}
